# Flutter / Dart
.build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.vscode/
*.iml
.gradle/
**/build/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
ios/Pods/
*.keystore
*.jks

# Android Studio / IntelliJ
*.ipr
*.iws

# macOS specific
.DS_Store

# Generated plugin registrant
generated_plugin_registrant.dart

# Local environment / IDE files
*.log

# Sensitive (add google-services.json if you don't want to push it)
# If you want NOT to upload your google-services.json or Google plist:
# google-services.json
# android/app/src/debug/google-services.json
# ios/Runner/GoogleService-Info.plist

# Personal secrets
.env
